@font-face 
  font-family: 'GrandmasterClash'
  src: url('/GrandmasterClash.eot')
  src: url('/GrandmasterClash.eot?#iefix') format('embedded-opentype'),
    url('/GrandmasterClash.woff') format('woff'),
    url('/GrandmasterClash.ttf') format('truetype')
  font-weight: normal
  font-style: normal


body 
  background: var(--lightGrey)
  font-family: sans serif